@keyframes moveRobot {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-4px);
  }
}

@keyframes flipRobot {
  0% {
    transform: rotate(360deg);
  }
  55% {
    transform: rotate(340deg);
    scale: 1.05;
  }
  100% {
    scale: 1;
  }
}
