body {
  @include fluid-text(17, 11);

  font-family: var(--font-family-base);
  font-weight: 400;
  line-height: 1.1;
  color: var(--color-current);
  text-shadow: var(--text-shadow);
  background: var(--color-main-bg);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}
a {
  text-decoration: none;
  color: inherit;
}
//titles
.section {
  padding-block: 68px;

  @include mobile-media {
    padding-block: 31px;
  }

  &--main-page {
    padding-block: 50px;

    @include mobile-media {
      padding-block: 31px;
    }
  }
  &--position {
    position: relative;
  }
  &__title {
    @include fluid-text(32, 18);

    text-align: center;
    color: var(--section-title-color);
    &:not(:last-child) {
      margin-block: 0 50px;

      @include mobile-media {
        margin-block: 0 31px;
      }
    }
  }
}
