.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  @include visually-hidden;
}

.hidden-mobile {
  @include mobile-media {
    display: none !important;
  }
}

.visible-mobile {
  @include mobile-media-above {
    display: none !important;
  }
}
.lock-body {
  overflow: hidden;
}
.lock-body-y {
  overflow-y: hidden !important;
}
.copied-effect {
  &::before {
    content: "Скопировано";
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 100%;
    background-color: var(--color-green-light);
    text-shadow: var(--text-shadow-dark);
    box-shadow: var(--box-shadow);
    color: var(--color-green);
    left: -50%;
    top: -120%;
    border-radius: inherit;
    z-index: 2;
    opacity: 0;
    animation: showMessage 0.5s forwards;
  }
  &::after {
    position: absolute;
    content: "";
    height: 50%;
    aspect-ratio: 1;
    background-color: var(--color-green-light);
    z-index: 1;
    left: 6%;
    top: -50%;
    rotate: 45deg;
    opacity: 0;
    animation: showMessage 0.5s forwards;
  }
}
.delete-element {
  display: none !important;
}
.blurred {
  filter: blur(5px);
  // transition: filter var(--transition-duration) ease;
}
