:root {
  --color-dark: #000000;
  --color-dark-light: #1f1f1f;
  --color-light: #ffffff;
  --color-green: #18d200;
  --color-green-light: #d3edc7;
  --color-red: #a75052;
  --color-red-bright: #ff0000;
  --color-orange: #ff9500;
  --color-orange-light: #c79753;
  --color-gold: #948f00;
  --color-gray: #616161;
  --color-gray-light: #d9d9d9;
  --color-opacity-bg: #312f2f80;
  --color-link-accent: #3700ff;

  --text-shadow-dark: 0 4px 4px rgba(0, 0, 0, 0.25);
  --text-shadow-light: 0 4px 15px rgba(255, 255, 255, 0.25);

  --box-shadow-dark: 0 4px 4px rgba(0, 0, 0, 0.25);
  --box-shadow-dark-accent: 0 0 15px rgba(0, 0, 0, 0.35);
  --box-shadow-light: 0 0px 20px rgba(255, 255, 255, 0.25);
  --box-shadow-light-accent: 0 0 15px rgba(255, 255, 255, 0.25);

  --border: 1px solid var(--color-dark);
  --border-radius: 10px;
  --border-radius-small: 6px;
  --border-radius-large: 15px;

  --font-family-base: "Hardpixel", sans-serif;

  --container-width: 1280px;
  --container-padding-x: 30px;

  --input-height: 79px;
  --button-height: 46px;

  --transition-duration: 0.3s;
  --transition-duration-long: 0.6s;

  //--==changeable variables while klick the day/night button==--
  --color-current: var(--color-dark);
  --color-main-bg: var(--color-light);
  --button-text-color: var(--color-light);
  --section-title-color: var(--color-gray);
  --rent-card-bg: var(--color-light);
  --text-shadow: var(--text-shadow-dark);
  --box-shadow: var(--box-shadow-dark);
  --box-shadow-accent: var(--box-shadow-accent-dark);
  --color-page-mode-bg: var(--color-dark-light);
  --parametr-card-value-bg: var(--color-gray-light);
  --color-modal-bg: var(--color-light);
  --color-input-bg: var(--color-gray-light);
  --accordion-question-color-bg: var(--color-light);
  --preloader-color: var(--color-dark);
  //===============================

  @include desktop-media {
    --input-height: 56px;
  }
  @include mobile-media {
    --input-height: 46px;
  }
}
.dark {
  --text-shadow: var(--text-shadow-light);
  --box-shadow: var(--box-shadow-light);
  --box-shadow-accent: var(--box-shadow-light-accent);
  --color-current: var(--color-light);
  --button-text-color: var(--color-dark);
  --color-main-bg: var(--color-dark);
  --rent-card-bg: var(--color-dark-light);
  --color-page-mode-bg: var(--color-gray);
  --parametr-card-value-bg: var(--color-dark);
  --color-modal-bg: var(--color-dark-light);
  --color-input-bg: var(--color-dark);
  --accordion-question-color-bg: var(--color-dark-light);
  --preloader-color: var(--color-light);
}
