*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:where(ul, ol):where([class]) {
  padding-left: 0;
}

body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea,
select,
button {
  font: inherit;
}

html {
  height: 100%;
  scrollbar-gutter: stable;
}

html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  line-height: 1.5;
}

a:where([class]) {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

button,
label {
  cursor: pointer;
}

:where([fill]:not([fill=none], [fill^=url])) {
  fill: currentColor;
}

:where([stroke]:not([stroke=none], [stroke^=url])) {
  stroke: currentColor;
}

svg * {
  -webkit-transition-property: fill, stroke;
  transition-property: fill, stroke;
}

:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Hardpixel";
  src: url("/fonts/Hardpixel.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-dark: #000000;
  --color-light: #ffffff;
  --color-green: #18d200;
  --color-red: #a75052;
  --color-orange: #ff9500;
  --color-blue: #3474ea;
  --color-gray: #616161;
  --color-opacity-bg: rgba(49, 47, 47, 0.5);
  --text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  --button-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  --border: 1px solid var(--color-dark);
  --border-radius: 10px;
  --border-radius-small: 6px;
  --border-radius-large: 15px;
  --font-family-base: "Hardpixel", sans-serif;
  --container-width: 1280px;
  --container-padding-x: 30px;
  --input-height: 79px;
  --button-height: clamp(40px, 3.6vw, 46px);
  --transition-duration: 0.3s;
  --transition-duration-long: 0.6s;
}
@media (max-width: 767px) {
  :root {
    --button-height: 46px;
  }
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

.lock-body {
  overflow: hidden;
}

body {
  font-size: clamp(11px, 1.328125vw, 17px);
  font-family: var(--font-family-base);
  font-weight: 400;
  line-height: 1.1;
  color: var(--color-dark);
  background: url(../../images/page-background.png) no-repeat center/cover;
}

a,
button,
input,
textarea,
svg * {
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: var(--button-height);
  padding-inline: clamp(10px, 2vw, 25.5px);
  font-size: clamp(14px, 1.56vw, 20px);
  background-color: var(--color-green);
  border-radius: var(--border-radius-small);
  border: none;
  color: var(--color-light);
  text-shadow: var(--text-shadow);
  -webkit-box-shadow: var(--button-box-shadow);
          box-shadow: var(--button-box-shadow);
  white-space: nowrap;
}
@media (hover: hover) {
  .button:hover {
    -webkit-filter: brightness(90%);
            filter: brightness(90%);
    color: var(--color-dark);
  }
}
@media (hover: none) {
  .button:active {
    -webkit-filter: brightness(90%);
            filter: brightness(90%);
    color: var(--color-dark);
  }
}
.button:active {
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
  scale: 0.95;
}
@media (max-width: 767px) {
  .button {
    background-color: var(--color-blue);
    padding-inline: 28px;
    font-size: 20px;
  }
}

.logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 10;
  font-size: 48px;
}
@media (max-width: 1280px) {
  .logo {
    font-size: clamp(24px, 3.125vw, 40px);
  }
}
.logo__link {
  text-shadow: var(--text-shadow);
}
@media (hover: hover) {
  .logo__link:hover {
    -webkit-filter: brightness(80%);
            filter: brightness(80%);
    color: var(--color-green);
  }
}
@media (hover: hover) and (max-width: 767px) {
  .logo__link:hover {
    color: var(--color-blue);
  }
}
@media (hover: none) {
  .logo__link:active {
    -webkit-filter: brightness(80%);
            filter: brightness(80%);
    color: var(--color-green);
  }
}
@media (hover: none) and (max-width: 767px) {
  .logo__link:active {
    color: var(--color-blue);
  }
}
.logo__link:active {
  -webkit-filter: brightness(60%);
          filter: brightness(60%);
  scale: 0.95;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  min-height: 46px;
  margin-block: 37px 0;
}
@media (max-width: 767px) {
  .header {
    margin-block: 24px 0;
    min-height: 30px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
}
.header__logo {
  min-height: inherit;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 27px;
}
@media (max-width: 1280px) {
  .menu__list {
    gap: 10px;
  }
}
@media (max-width: 767px) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 40px;
    height: 100vh;
  }
}
.menu__button--color-orange {
  background-color: var(--color-orange);
}
.menu__button--color-red {
  background-color: var(--color-red);
}
.menu__button--big-padding {
  padding-inline: clamp(10px, 5.2vw, 67px);
}
@media (max-width: 767px) {
  .menu__button--big-padding {
    padding-inline: 67px !important;
  }
}
@media (max-width: 767px) {
  .menu__button {
    font-size: 20px;
    padding-inline: 25.5px;
  }
}

#menu-switch[type=checkbox] {
  display: none;
}
#menu-switch[type=checkbox]:checked ~ .mobile-menu__burger {
  background-color: transparent;
  width: 21px;
  height: 21px;
}
#menu-switch[type=checkbox]:checked ~ .mobile-menu__burger span {
  background-color: transparent;
  top: 8px;
  left: -3px;
  height: 2px;
}
#menu-switch[type=checkbox]:checked ~ .mobile-menu__burger span::after, #menu-switch[type=checkbox]:checked ~ .mobile-menu__burger span::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 29px;
  border-radius: 15px;
  top: 0;
}
#menu-switch[type=checkbox]:checked ~ .mobile-menu__burger span::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
#menu-switch[type=checkbox]:checked ~ .mobile-menu__wrapper {
  visibility: visible;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.mobile-menu__burger {
  display: block;
  position: relative;
  z-index: 10;
  width: 22px;
  height: 18px;
  color: var(--color-drark);
}
@media (hover: hover) {
  .mobile-menu__burger:hover {
    color: var(--color-blue);
  }
}
@media (hover: none) {
  .mobile-menu__burger:active {
    color: var(--color-blue);
  }
}
.mobile-menu__burger:active {
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
}
.mobile-menu__burger span {
  display: block;
  position: relative;
  top: 6px;
  left: 0px;
  width: 100%;
  height: 4px;
  background-color: currentColor;
}
.mobile-menu__burger span::after, .mobile-menu__burger span::before {
  content: "";
  position: absolute;
  left: 0;
  top: -5.5px;
  width: 100%;
  height: inherit;
  background-color: currentColor;
  -webkit-transition-duration: var(--transition-duration-long);
          transition-duration: var(--transition-duration-long);
}
.mobile-menu__burger span::after {
  top: 5.5px;
}
.mobile-menu__wrapper {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: url(../../images/page-background.png) no-repeat center/cover;
  z-index: 2;
  visibility: hidden;
  -webkit-transition-duration: var(--transition-duration-long);
          transition-duration: var(--transition-duration-long);
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.empty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: center;
  max-width: var(--container-width);
  padding-block: clamp(188px, 23vw, 292px) 50px;
}
@media (max-width: 767px) {
  .empty__image {
    width: 91px;
    height: 82px;
  }
}
.empty__image-wrapper {
  margin-block: 0 24px;
}
.empty__title {
  margin-block: 0 11px;
  font-size: clamp(20px, 2.8125vw, 36px);
}
.empty__text {
  font-size: clamp(16px, 2.5vw, 32px);
  color: var(--color-gray);
}
.empty__text:not(:last-child) {
  margin-block: 0 26px;
}
@media (max-width: 767px) {
  .empty__text {
    padding-inline: 10px;
  }
}/*# sourceMappingURL=style.css.map */