.button {
  @include flex-center(true);

  height: var(--button-height);
  padding-inline: clamp(10px, 2vw, 25.5px);
  font-size: clamp(14px, 1.56vw, 20px);
  background-color: var(--color-green);
  border-radius: var(--border-radius-small);
  border: none;
  color: var(--color-light);
  text-shadow: var(--text-shadow);
  box-shadow: var(--button-box-shadow);
  white-space: nowrap;

  @include hover {
    filter: brightness(90%);
    color: var(--color-dark);
  }
  @include active {
    filter: brightness(70%);
    scale: 0.95;
  }
  @include mobile-media {
    padding-inline: 28px;
    font-size: 20px;
  }
}
.close-button {
  @include reset-button;
  @include square(35px);

  position: relative;
  border-radius: var(--border-radius-small);

  @include hover {
    &::before,
    &::after {
      background-color: var(--color-green);
      filter: brightness(80%);
    }
  }
  @include active {
    scale: 0.95;
  }

  @include tablet-media {
    width: 30px;
  }

  @include mobile-media {
    width: 20px;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 5px;
    width: 84%;
    height: 2.5px;
    background-color: var(--color-dark);
    border-radius: var(--border-radius);
    transition-duration: var(--transition-duration);
  }

  &::before {
    rotate: 45deg;
  }

  &::after {
    rotate: -45deg;
  }
}
