.button {
  @include flex-center(true);

  height: var(--button-height);
  padding-inline: clamp(10px, 2vw, 25.5px);
  font-size: clamp(14px, 1.56vw, 20px);
  background-color: var(--color-green);
  border-radius: var(--border-radius-small);
  border: none;
  color: var(--button-text-color);
  text-shadow: var(--text-shadow-dark);
  box-shadow: var(--box-shadow);
  white-space: nowrap;

  @include hover {
    filter: brightness(90%);
    color: var(--color-dark);
  }
  @include active {
    filter: brightness(70%);
    scale: 0.95;
  }
  @include mobile-media {
    padding-inline: 28px;
    font-size: 20px;
  }

  &--color-orange {
    background-color: var(--color-orange);
  }
  &--color-red {
    background-color: var(--color-red);
  }
}
.close-button {
  @include reset-button;
  @include square(35px);

  position: relative;
  border-radius: var(--border-radius-small);

  @include hover {
    &::before,
    &::after {
      background-color: var(--color-green);
      filter: brightness(80%);
    }
  }
  @include active {
    scale: 0.95;
  }

  @include tablet-media {
    width: 30px;
  }

  @include mobile-media {
    width: 20px;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 5px;
    width: 84%;
    height: 2.5px;
    background-color: var(--color-current);
    border-radius: var(--border-radius);
    transition-duration: var(--transition-duration);
  }

  &::before {
    rotate: 45deg;
  }

  &::after {
    rotate: -45deg;
  }
}

.night-mode-button {
  @include flex-space-between;

  flex-shrink: 0;
  position: relative;
  z-index: 10;
  width: 92px;
  height: 46px;
  border: none;
  border-radius: var(--border-radius-large);
  box-shadow: var(--box-shadow);
  background-color: var(--color-page-mode-bg);
  padding: 5px 10px;
  transition-duration: var(--transition-duration);
  box-shadow: var(--box-shadow);

  @include hover {
    filter: brightness(90%);
  }
  @include active {
    filter: brightness(70%);
    scale: 0.95;
  }

  @include desktop-media {
    width: 72px;
    height: 37px;
    padding: 5px 7.5px;
    border-radius: var(--border-radius);
  }
  @include tablet-media {
    width: 60px;
    height: 30px;
    padding: 5px 7.5px 5px 6px;
  }
  @include mobile-media {
    width: 60px;
    height: 30px;
    padding: 5px px 5px 5px;
  }
  &::before {
    content: "";
    position: absolute;
    display: block;
    box-shadow: var(--box-shadow);
    left: 3%;
    top: 3px;
    height: calc(100% - 6px);
    aspect-ratio: 1;
    border-radius: 30%;
    background-color: var(--color-light);
    transition-duration: var(--transition-duration);
  }
  .night-mode-button__image--moon {
    fill: var(--color-light);
  }
  &--active::before {
    left: 53%;

    & .night-mode-button__image--sunny {
      fill: var(--color-light);
    }
  }
  &--active {
    .night-mode-button__image--sunny {
      fill: var(--color-dark);
    }
    & .night-mode-button__image--moon {
      fill: var(--color-dark);
    }
  }
  &__image {
    position: relative;
    z-index: 3;
    width: clamp(17px, 1.95vw, 25px);
    fill: currentColor;

    &--moon {
      @include mobile-media {
        width: 20px;
      }
    }
  }
}
