.header {
  @include flex-space-between;

  gap: 10px;
  min-height: 46px;
  padding-block: 37px 0;

  @include mobile-media {
    padding-block: 24px 0;
    min-height: 30px;
  }

  @include mobile-s-media {
    padding-inline: 5px;
  }
  &__logo {
    min-height: inherit;
  }
  &__night-mode-button {
    margin-inline: 0 auto;
  }
}
