.logo {
  @include flex-center(true);
  position: relative;
  z-index: 10;
  font-size: 48px;

  @media (max-width: 1750px) {
    @include fluid-text(40, 20);
  }
  @include tablet-media {
    @include fluid-text(28, 20);
  }
  @include mobile-media {
    font-size: 24px;
  }
  &__link {
    text-shadow: var(--text-shadow);

    @include hover {
      filter: brightness(80%);
      color: var(--color-green);
    }
    @include active {
      filter: brightness(60%);
      scale: 0.95;
    }
  }
}
