.menu {
  &__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 27px;

    @include desktop-media {
      gap: 10px;
    }

    @include mobile-media {
      flex-direction: column;
      justify-content: center;
      gap: 40px;
      height: 100vh;
    }
  }
  &__button {
    &--color-orange {
      background-color: var(--color-orange);
    }
    &--color-red {
      background-color: var(--color-red);
    }
    &--big-padding {
      padding-inline: clamp(10px, 5.2vw, 67px);

      @include mobile-media {
        padding-inline: 67px !important;
      }
    }
    @include mobile-media {
      font-size: 20px;
      padding-inline: 25.5px;
    }
  }
}
