#menu-switch[type="checkbox"] {
  display: none;
  &:checked ~ .mobile-menu__burger {
    background-color: transparent;
    width: 21px;
    height: 21px;
  }
  &:checked ~ .mobile-menu__burger span {
    background-color: transparent;
    top: 8px;
    left: -3px;
    height: 2px;
  }
  &:checked ~ .mobile-menu__burger span::after,
  &:checked ~ .mobile-menu__burger span::before {
    transform: rotate(-45deg);
    width: 29px;
    border-radius: 15px;
    top: 0;
  }
  &:checked ~ .mobile-menu__burger span::before {
    transform: rotate(45deg);
  }

  &:checked ~ .mobile-menu__wrapper {
    visibility: visible;
    transform: translateY(0%);
  }
}

.mobile-menu {
  &__burger {
    display: block;
    position: relative;
    z-index: 10;
    width: 22px;
    height: 18px;
    color: var(--color-drark);

    @include hover {
      filter: brightness(90%);
      color: var(--color-green);
    }
    @include active {
      filter: brightness(70%);
    }

    & span {
      display: block;
      position: relative;
      top: 6px;
      left: 0px;
      width: 100%;
      height: 4px;
      background-color: currentColor;
    }
    & span::after,
    & span::before {
      content: "";
      position: absolute;
      left: 0;
      top: -5.5px;
      width: 100%;
      height: inherit;
      background-color: currentColor;
      transition-duration: var(--transition-duration-long);
    }
    & span::after {
      top: 5.5px;
    }
  }
  &__wrapper {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'><path d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%239C92AC' fill-opacity='0.05' fill-rule='evenodd'/%3E%3C/svg%3E"),
      var(--color-main-bg);
    z-index: 2;
    visibility: hidden;
    transition-duration: var(--transition-duration-long);
    transform: translateY(-100%);
  }
}
