.new-rent {
  padding: 40px 60px 65px;
  height: 419px !important;
  border: none;
  background-color: var(--color-modal-bg);
  max-width: clamp(800px, 55.9vw, 1074px);
  width: 100%;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius-large) !important;

  @include desktop-media {
    max-width: clamp(300px, 78vw, 800px) !important;
    height: 330px !important;
  }
  @include tablet-media {
    padding: 20px 30px 35px;
    height: 250px !important;
  }
  @include mobile-media {
    padding: 20px;
    height: 210px !important;
  }

  &--extend#rent-extend {
    height: 560px !important;

    @include desktop-media {
      height: 530px !important;
    }
    @include tablet-media {
      height: 400px !important;
    }
    @include mobile-media {
      height: 375px !important;
    }
    @include mobile-s-media {
      height: 400px !important;
    }
  }

  &__header {
    @include flex-space-between;

    margin-block: 0 50px;

    @include desktop-media {
      margin-block: 0 37px;
    }
    @include tablet-media {
      margin-block: 0 20px;
    }

    &--extend {
      margin-block: 0 21px;

      @include tablet-media {
        margin-block: 0 10px;
      }
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }

  &__ratios-wrapper {
    @include flex-space-between;

    gap: clamp(5px, 2.5vw, 48px);
    width: 100%;
    margin-block: 0 43px;

    @include tablet-media {
      margin-block: 0 20px;
    }
  }

  &__title {
    @include fluid-text(32, 20);

    font-weight: 400;
    color: var(--color-current);
  }

  &__text {
    @include fluid-text(24, 16);

    color: var(--color-gray);

    &--extend {
      margin-block: 33px;

      p:not(:last-child) {
        margin-bottom: 0;
      }

      @include tablet-media {
        margin-block: 15px;
      }
    }
    &--color {
      color: var(--color-current);
    }
  }

  &__input {
    @include fluid-text(32, 20);

    box-shadow: var(--box-shadow-dark);
    padding: 20px;
    max-width: 953px;
    width: 100%;
    height: var(--input-height);
    border: none !important;
    color: var(--color-current);
    background-color: var(--color-input-bg);

    @include mobile-s-media {
      padding: 10px;
    }

    &_mb,
    &-extend {
      margin-block: 0 63px;

      @include tablet-media {
        margin-block: 0 30px;
      }

      &-extend {
        margin-block: 0 43px;
        @include mobile-media {
          margin-block: 0 20px;
        }
      }
    }

    &:focus,
    &:focus-visible {
      outline: 3px solid var(--color-green);
      border: none;
    }

    &:focus::placeholder {
      color: transparent;
    }

    &:focus:invalid {
      outline: 3px solid var(--color-red);
    }

    &::placeholder {
      color: currentColor;

      @include mobile-media {
        font-size: 16px;
      }

      @include mobile-s-media {
        font-size: 13px;
      }
    }
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 1000px var(--color-input-bg) inset !important;
      box-shadow: 0 0 0 1000px var(--color-input-bg) inset !important;
      -webkit-text-fill-color: var(--color-current) !important;
      caret-color: var(--color-current) !important;
      transition: background-color 5000s ease-in-out 0s;
    }

    &-ratio:checked + label {
      outline: 3px solid var(--color-red-bright);
    }
  }

  &__button {
    font-size: 32px;
    padding-inline: 103px;
    height: 62px;
    box-shadow: var(--box-shadow);
    text-shadow: var(--box-shadow-dark);

    @include desktop-media {
      @include fluid-text(32, 20);

      padding-inline: clamp(50px, 5.3vw, 103px);
      height: clamp(var(--button-height), 3.14vw, 62px);
    }

    &--ratio {
      @include fluid-text(32, 18);

      flex-shrink: 0;
      max-width: clamp(90px, 7.8vw, 150px);
      width: 100%;
      padding-inline: 10px;

      @include mobile-media {
        max-width: clamp(46px, 11.73vw, 90px);
      }
    }
  }
}
